~*
*.pid

/conf/.*
/conf/*.conf
/conf/*.conf.bk
/conf/*.xml
/conf/etc-init/
/exec/init.pl
/exec/test.*
/local/
/log/
/node_modules/
/**/node_modules/
/public/robots.txt
/public/tmp
/public/wmail*
/public/yandex*
/db/*
/script/
/start*
/stop*
/tmp/
!public/s/i/tmp/
*.sublime*
.fuse_hidden*
*report.txt
